--
-- PostgreSQL database dump
--

\restrict E1FiTFuUQqwvazY2qwj6Uqkn4jJnlZ1h6z07Sw7JMFgwLSoPjLtHtYL03OGp4mV

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: activitytype; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.activitytype AS ENUM (
    'group_class',
    'open_gym',
    'personal_training'
);


--
-- Name: allowedplan; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.allowedplan AS ENUM (
    'classes',
    'premium',
    'personalized'
);


--
-- Name: bookingstatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.bookingstatus AS ENUM (
    'CONFIRMED',
    'CANCELLED',
    'PENDING'
);


--
-- Name: classsessionstatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.classsessionstatus AS ENUM (
    'scheduled',
    'cancelled',
    'completed'
);


--
-- Name: difficultylevel; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.difficultylevel AS ENUM (
    'beginner',
    'intermediate',
    'advanced'
);


--
-- Name: membershipplan; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.membershipplan AS ENUM (
    'BASIC',
    'PLUS',
    'PREMIUM'
);


--
-- Name: membershipstatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.membershipstatus AS ENUM (
    'active',
    'expired',
    'paused',
    'cancelled'
);


--
-- Name: userrole; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.userrole AS ENUM (
    'ADMIN',
    'TRAINER',
    'CLIENT'
);


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


--
-- Name: bookings; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.bookings (
    id uuid NOT NULL,
    client_id uuid NOT NULL,
    class_session_id uuid NOT NULL,
    status public.bookingstatus NOT NULL,
    checked_in_at timestamp with time zone,
    cancelled_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    active boolean DEFAULT true NOT NULL
);


--
-- Name: class_schedules; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.class_schedules (
    id uuid NOT NULL,
    gym_class_id uuid NOT NULL,
    teacher_id uuid NOT NULL,
    days_of_week jsonb NOT NULL,
    start_time time without time zone NOT NULL,
    start_date date NOT NULL,
    end_date date,
    duration_minutes integer NOT NULL,
    capacity integer NOT NULL,
    allowed_plan public.allowedplan,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    active boolean DEFAULT true NOT NULL,
    deleted_at timestamp with time zone
);


--
-- Name: class_sessions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.class_sessions (
    id uuid NOT NULL,
    class_schedule_id uuid NOT NULL,
    starts_at timestamp with time zone NOT NULL,
    ends_at timestamp with time zone NOT NULL,
    capacity_snapshot integer NOT NULL,
    status public.classsessionstatus NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    active boolean DEFAULT true NOT NULL
);


--
-- Name: clients; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.clients (
    id uuid NOT NULL
);


--
-- Name: gym_classes; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.gym_classes (
    id uuid NOT NULL,
    name character varying NOT NULL,
    description character varying NOT NULL,
    duration_minutes integer NOT NULL,
    default_capacity integer NOT NULL,
    activity_type public.activitytype NOT NULL,
    image_url character varying,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    active boolean DEFAULT true NOT NULL,
    deleted_at timestamp with time zone,
    difficulty public.difficultylevel
);


--
-- Name: memberships; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.memberships (
    id uuid NOT NULL,
    plan public.membershipplan NOT NULL,
    start_date timestamp with time zone DEFAULT now() NOT NULL,
    end_date timestamp with time zone NOT NULL,
    last_check_in timestamp with time zone,
    last_invoice_id character varying,
    client_id uuid NOT NULL,
    status public.membershipstatus NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    active boolean DEFAULT true NOT NULL,
    deleted_at timestamp with time zone
);


--
-- Name: persons; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.persons (
    id uuid NOT NULL,
    address character varying,
    medical_fit_url character varying,
    user_id uuid NOT NULL,
    first_name character varying NOT NULL,
    last_name character varying NOT NULL,
    document_number character varying,
    profile_image_url character varying,
    person_type character varying(50),
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    active boolean DEFAULT true NOT NULL,
    deleted_at timestamp with time zone
);


--
-- Name: teachers; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.teachers (
    id uuid NOT NULL,
    cuil character varying,
    bio character varying
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id uuid NOT NULL,
    email character varying NOT NULL,
    hashed_password character varying NOT NULL,
    role public.userrole NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    deleted_at timestamp with time zone,
    active boolean DEFAULT true NOT NULL
);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: bookings bookings_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT bookings_pkey PRIMARY KEY (id);


--
-- Name: class_schedules class_schedules_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.class_schedules
    ADD CONSTRAINT class_schedules_pkey PRIMARY KEY (id);


--
-- Name: class_sessions class_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.class_sessions
    ADD CONSTRAINT class_sessions_pkey PRIMARY KEY (id);


--
-- Name: clients clients_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.clients
    ADD CONSTRAINT clients_pkey PRIMARY KEY (id);


--
-- Name: gym_classes gym_classes_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.gym_classes
    ADD CONSTRAINT gym_classes_pkey PRIMARY KEY (id);


--
-- Name: memberships memberships_client_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.memberships
    ADD CONSTRAINT memberships_client_id_key UNIQUE (client_id);


--
-- Name: memberships memberships_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.memberships
    ADD CONSTRAINT memberships_pkey PRIMARY KEY (id);


--
-- Name: persons persons_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.persons
    ADD CONSTRAINT persons_pkey PRIMARY KEY (id);


--
-- Name: persons persons_user_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.persons
    ADD CONSTRAINT persons_user_id_key UNIQUE (user_id);


--
-- Name: teachers teachers_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.teachers
    ADD CONSTRAINT teachers_pkey PRIMARY KEY (id);


--
-- Name: bookings uq_booking_client_session; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT uq_booking_client_session UNIQUE (client_id, class_session_id);


--
-- Name: class_sessions uq_class_schedule_starts_at; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.class_sessions
    ADD CONSTRAINT uq_class_schedule_starts_at UNIQUE (class_schedule_id, starts_at);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_class_sessions_starts_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_class_sessions_starts_at ON public.class_sessions USING btree (starts_at);


--
-- Name: ix_gym_classes_name; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_gym_classes_name ON public.gym_classes USING btree (name);


--
-- Name: ix_persons_document_number; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ix_persons_document_number ON public.persons USING btree (document_number);


--
-- Name: ix_persons_first_name; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_persons_first_name ON public.persons USING btree (first_name);


--
-- Name: ix_persons_last_name; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_persons_last_name ON public.persons USING btree (last_name);


--
-- Name: ix_teachers_cuil; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ix_teachers_cuil ON public.teachers USING btree (cuil);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: bookings bookings_class_session_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT bookings_class_session_id_fkey FOREIGN KEY (class_session_id) REFERENCES public.class_sessions(id) ON DELETE CASCADE;


--
-- Name: bookings bookings_client_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT bookings_client_id_fkey FOREIGN KEY (client_id) REFERENCES public.clients(id) ON DELETE CASCADE;


--
-- Name: class_schedules class_schedules_gym_class_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.class_schedules
    ADD CONSTRAINT class_schedules_gym_class_id_fkey FOREIGN KEY (gym_class_id) REFERENCES public.gym_classes(id) ON DELETE CASCADE;


--
-- Name: class_schedules class_schedules_teacher_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.class_schedules
    ADD CONSTRAINT class_schedules_teacher_id_fkey FOREIGN KEY (teacher_id) REFERENCES public.teachers(id) ON DELETE CASCADE;


--
-- Name: class_sessions class_sessions_class_schedule_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.class_sessions
    ADD CONSTRAINT class_sessions_class_schedule_id_fkey FOREIGN KEY (class_schedule_id) REFERENCES public.class_schedules(id) ON DELETE CASCADE;


--
-- Name: clients clients_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.clients
    ADD CONSTRAINT clients_id_fkey FOREIGN KEY (id) REFERENCES public.persons(id);


--
-- Name: memberships memberships_client_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.memberships
    ADD CONSTRAINT memberships_client_id_fkey FOREIGN KEY (client_id) REFERENCES public.clients(id);


--
-- Name: persons persons_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.persons
    ADD CONSTRAINT persons_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: teachers teachers_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.teachers
    ADD CONSTRAINT teachers_id_fkey FOREIGN KEY (id) REFERENCES public.persons(id);


--
-- PostgreSQL database dump complete
--

\unrestrict E1FiTFuUQqwvazY2qwj6Uqkn4jJnlZ1h6z07Sw7JMFgwLSoPjLtHtYL03OGp4mV

